body{margin-left:0; padding:0;}

#mainPage .box{background-color: rgb(38, 85, 236);
    border-radius:8px;
    margin: 3px;
    padding: 5%;
    height: 120px;
}
#mainPage .box:hover{
    background-color: rgb(249, 249, 252);
    border: 2px solid blue;
    
}

#mainPage .box:hover a{color:blue;}
#mainPage .box a{
    text-decoration: none;
    
}
#mainPage .box a:hover{
    
    font-size: larger;
}
#mainPage .box2{background-color: rgb(230, 197, 14);}


#mainPage .sectionTitles{font-size: 20px; color:white;
    }

#docSignUp img{widtsh:50%;
                heisght:50%;}
